.cards__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  animation: cards .35s cubic-bezier(0, 0, 0.43, 1.32)
}



@keyframes cards {
  0% {
    transform: translateY(80%)
  }
}