.cards__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  animation: cards .3s cubic-bezier(0, 0, 0.43, 1.32)
}



@keyframes cards {
  0% {
    transform: scale(0);
  
  };
  100% {
    transform: scale(1);

  }
}
