.content {
  margin: 0 auto;

}

@media screen and (min-width:990px) {
  .content {
    width: 68.75%;
    max-width: 880px;
  }
}

@media screen and (max-width:989px){
   .content {
    width: 88.125%;
    min-width: 320px;
   }
}

