.elements__like-btn {
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	width: 22px;
	height: 19px;
	display: flex;
}

@media (hover: hover) {
	.elements__like-btn:hover {
		opacity: 0.5;
	}
}
