.profile__btn-edit {
	border: 1px solid #fff;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 980px) {
	.profile__btn-edit {
		grid-area: btn-edit;
		align-self: center;
		margin-bottom:30px;
		height: 24px;
		width: 24px;
	}
}

@media screen and (max-width: 979.99px) {
	.profile__btn-edit {
		align-self: center;
		width: calc(18px + 10.2 * ((100vw - 320px) / 980));
		height: calc(18px + 10.2 * ((100vw - 320px) / 980));
    margin-top:6px;
	}
}
